name: Docker

on:
  push:
    tags: [ "*" ]
    branches:
      - 'main'
  pull_request:
    branches: [ "**" ]
    
env:
  REGISTRY: docker.io
  IMAGE_NAME: erickdaniel0/dockerscout
  SHA: ${{ github.event.pull_request.head.sha || github.event.after }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ env.SHA }}
          
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2.5.0

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v2.1.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4.4.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          labels: |
            org.opencontainers.image.revision=${{ env.SHA }}
          tags: |
            type=edge,branch=${{ github.ref_name }}
            type=semver,pattern=v{{version}}
            type=sha,prefix=,suffix=,format=short

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          
      # Instalar Docker Scout
      - name: Install Docker Scout
        run: |
          # Descargar Docker Scout desde la URL correcta
          curl -fsSL https://github.com/docker/scout-cli/releases/download/v0.5.0/scout-linux-amd64.tar.gz -o scout.tar.gz
          tar -xzvf scout.tar.gz
          sudo mv scout /usr/local/bin/
          docker scout version  # Verificar instalación

      - name: Docker Scout - Save report to text file
        id: docker-scout
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          # Usar el nombre de la imagen y la etiqueta generada para el análisis
          IMAGE_TAG="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.tags }}"
          echo "Running Docker Scout analysis on image: $IMAGE_TAG"
          docker scout cves $IMAGE_TAG > docker_scout_report.txt || echo "Docker Scout failed to generate report"
      
      - name: Upload Docker Scout Report as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: docker-scout-report
          path: docker_scout_report.txt
